<div class="pop" style="background-image:url('http://cr44.fond-ecran-image.com/blog-photo/files/2008/08/ciel-bleu12.jpg');">

 <h1>Bienvenue sur mon blog</h1>

  <div class="container">
	 <div class="row">
		<div class="text-center">
<p>Un texte est une série orale ou écrite de mots perçus comme constituant un ensemble cohérent, porteur de sens et utilisant les structures propres à une langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à forme fixe comme le sonnet ou le haïku.</p>

 <% @articles.each do |article| %>
 <div class="article">
	<h2><%= article["title"] %></h2>
	<p><%= article["content"] %></p>
 </div>
 <% end %>
        </div>
     </div>
   </div>
</div>