<div class="wrapper" style="background-image:url('https://www.sciencedaily.com/images/2016/11/161130141053_1_540x360.jpg');">
 <div class= "container">
<h1>Akinator</h1>

<p>Je vais deviner ce à quoi tu penses !!!! </p>



<div class="container">
	<div class="row">
		<div class="col-md-4">
		 <h3>Ma question ? </h3>
		<div class="ask">
			<div class="btn btn-warning btn-lg">Oui</div>
			<div class="btn btn-primary btn-lg">Non</div>
		</div>
	</div>
	<div class="col-md-6">
		<img src="https://fr.akinator.com/bundles/elokencesite/images/akitudes_670x1096/defi.png?v95" alt="" , class="genie">
	</div>
  </div>
</div>

<%= link_to( "Mon blog", pages_blog_path, method: :get, class: "btn btn-primary" ) %>

<%= link_to( "Commencer le jeu", games_path, method: :post, class: "btn btn-primary" ) %>





