<div class="wrapper" style="background-image:url('https://www.sciencedaily.com/images/2016/11/161130141053_1_540x360.jpg');">

<h1>Akinator</h1>

 <div class="container">
	<div class="row">
		<div class="text-center">
		<div class="ask">
		<p>Je vais deviner ce à quoi tu penses !!!! </p>

			<%= link_to( "Mon blog", pages_blog_path, method: :get, class: "btn btn-warning" ) %>

            <%= link_to( "Commencer le jeu", games_path, method: :post, class: "btn btn-primary" ) %>   
		</div>
	    </div>
	 <div class="col-md-6">
		<img src="https://fr.akinator.com/bundles/elokencesite/images/akitudes_670x1096/defi.png?v95" alt="" , class="genie">
	 </div>
    </div>
 </div>
</div>







