<div class="wall" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Colombus_Isle.JPG/1200px-Colombus_Isle.JPG');">


<h1>Voici les questions</h1>

    <div class="container">
	  <div class="row">
		<div class="text-center">
		 <h3>Ma question ? </h3>
		 <p>Vous allez devoir repondre a ces questions le plus sincerement possible</p>
		<div class="ask">
			<%= link_to( "Montre moi la reponse", game_path, method: :get, class: "btn btn-danger") %>

		</div>
	    </div>
	  </div>
    </div>
</div>


<% link_to( "Editer le jeu", edit_game_path, method: :get, class: "btn btn-primary") %>

<% link_to( "Mise a jour de mon jeu", game_path, method: :patch, class: "btn btn-warning" ) %>

