<div class="rep" style="background-image:url('https://www.leprochainvoyage.com/wp-content/uploads/2013/05/Plage-des-Seychelles-La-Digue.jpg'); ">


<h1>Voici vos reponses</h1>

    <div class="text-center">
		<img src="http://pngimg.com/uploads/smiley/smiley_PNG179.png" alt="" , class="smiley">
	</div>

</div>