/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
	text-align: center;
	font-weight: bold;
	color: white;
	text-decoration: blink;
	text-transform: uppercase;
}

h2 {
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.container {
	text-align: center;
}

.article {
	colot: white;
}

.smiley {
	align-items: center;
}

.rep {
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.wrapper {
	background-size: cover;
	background-position: center;
	opacity: 50%;
}

.wall {
	background-size: cover;
	background-position: center;
	opacity: 50%;
	height: 100vh;
}	

.pop {
	background-size: cover;
	background-position: cover;
	opacity: 50%;
	height: 100vh;
}


.genie{
    align-items: right;
}

.ask{
	align-items: center;
}

.edition {
	background-size: cover;
	backgroung-position: center;
	opacity: 50%;
	display: flex;
}

p {
	font-family: Comic sans MS, Arial, Verdana,  sans-serif;
	color: black;
}